{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>BU Dining Hall Food Search</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Dining Hall</th>
                <th>MEAT</th>
                <th>Meal Type</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Warren' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Warren</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Chicken' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Chicken</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Breakfast' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Breakfast</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="{{ url_for('diningHall', name = 'West' )}}" method="GET">
                    <button type="submit" class="btn btn-primary">West</button>
                </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Beef' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Beef</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Lunch' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Lunch</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Marciano' )}}" method="GET">
                <button type="submit" class="btn btn-primary">Marciano</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('meat', name = 'Pork' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Pork</button>
              </form>
            </td>
            <td>
              <form action="{{ url_for('mealType', name = 'Dinner' )}}" method="GET">
                  <button type="submit" class="btn btn-primary">Dinner</button>
              </form>
            </td>
        </tr>
        <tr>
            <td>
              <form action="{{ url_for('diningHall', name = 'Granby' )}}" method="GET">
                <button type="submit" class="btn btn-primary">Granby</button>
              </form>
            </td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>
      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Ingredients</th>
                      <th>Station</th>
                      <th>Location</th>
                      <th>Meal</th>
                      <th>Calories</th>
                      <th class="text-end">Details</th>
                  </tr>
              </thead>
              <tbody>
                  {% for restaurant in restaurants %}
                      <tr>
                          <td>{{ restaurant.name }}</td>
                          <td>{% include "star_rating.html" %}</td>
                          <td class="text-end"><a href="{{ url_for('details', id=restaurant.id) }}" class="btn btn-sm btn-primary">Details</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No food items exist.  Select Add new restaurant to add one.</p>
      {% endif %}

{% endblock %}